/*********PaneDistribucion*********/

/*MenuBar*/
#menuUser{
	-fx-background-color: #34a6be;
	-fx-font-weight: bold;
}

#menuUser:hover{
	-fx-font-style: italic;
}

/*TabPane*/
/*ScrollPane*/
/*GridPane*/
/*Producto*/
#prodCat{
	-fx-border-color: #808080;
    -fx-border-width: 2px;
}

#prodCat:hover{
	-fx-border-color: #ff0000;
}